[class*="icon"]:before {
  text-decoration: none;
  color: red;
  font-size: 2rem;
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
  -webkit-user-select: none;
}
