img {
  max-width: 100%;
}
/* Média querie : quand l'écran est plus grand que 960px */
@media screen and (min-width: 960px) {
  .d-flex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 10%;
    gap: 2rem;
  }
  .col-md-4 {
    order: -1;
  }
}
/* @media screen and (min-width: 960px) {
  .d-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: flex-end;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
} */
