<!-- Affichage de la tâche en utilisant la propriété task -->
<div
  *ngIf="task !== undefined"
  class="d-flex justify-content-between my-3 align-items-center"
>
  <h2
    [ngClass]="{
      'text-decoration-line-through': task.done
    }"
  >
    {{ task.name }}
  </h2>
  <p class="m-0">{{ task.comment }}</p>
  <button
    (click)="onClickValidate(task.id)"
    [ngClass]="{
      btn: true,
      'btn-warning': task.done,
      'btn-success': !task.done
    }"
    [style.minWidth.px]="90"
    class="btn btn-success"
    [textContent]="task.done ? 'Invalider' : 'Valider'"
  ></button>
</div>
