<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <!-- Interpolation  -->
  <h1>{{ title }}</h1>
  <!-- Property Binding  -->
  <h1 [textContent]="title"></h1>
  <div>
    @if (tasks.length){
    <ul>
      <li *ngFor="let task of tasks">
        {{ task.name }}
      </li>
    </ul>
    } @else {
    <p>Pas de tâches à exécuter !!!</p>
    }
  </div>
  <!-- Attention à comprendre la différence entre un attribut html et une propriété js -->
  <select name="" id="">
    <option [selected]="false">Cobra</option>
    <option selected>Couleuvre</option>
    <option [selected]="true">Set</option>
    <!-- non sélectionné -->
  </select>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
